{% load staticfiles %}
	<!-- Footer -->
	<footer id="footer" class="footer overlay-dark">
		<div class="container">
			
			<!-- Footer Logo Section -->
			<div class="footer-logo-sec">
				<div class="footer-logo-inner">
					<a class="footer-logo" href="#"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
					<p>Cras pharetra justo sed scelerisque finibus. Vestibulum ante ipsum primis in faucibus
					<span>orci luctus et ultrices posuere cubilia Curae; Etiam luctus.</span></p>
					<ul class="social-icons">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-skype"></i></a></li>
					</ul>
				</div>
			</div>
			<!-- Footer Logo Section -->

			<!-- Footer Columns -->
			<div class="row">
				<div class="footer-columns">
					<!-- Footer Column -->
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 r-full-width">
						<div class="footer-column">
							<h4>Contact :</h4>
							<div class="contact-widget">
								<div class="location">
									<span class="location-icon"><i class="fa fa-map-marker"></i></span>
									<div>
										<p>King Street, Melbourne</p>
										<p>VIC 3000, Australia84</p>
									</div>
								</div>
							</div>
							<div class="contact-widget">
								<div class="location">
									<span class="location-icon"><i class="fa fa-mobile"></i></span>
									<div>
										<p>King Street, Melbourne</p>
										<p>VIC 3000, Australia84</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Footer Column -->

					<!-- Footer Column -->
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 r-full-width">
						<div class="footer-column">
							<h4>Contact :</h4>
							<p>
                                Cras pharetra justo sed scelerisque finibus.
					            <span>orci luctus et ultrices posuere cubilia Curae.</span>
                            </p>
                            <p>
                                Cras pharetra justo sed scelerisque finibus.
					            <span>orci luctus et ultrices posuere.</span>
                            </p>
						</div>
					</div>
					<!-- Footer Column -->

					<!-- Footer Column -->
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 r-full-width">
						<div class="footer-column">
							<h4>School Time :</h4>
							<ul class="school-timing">
								<li>Praesent vel egestas orci.</li>
								<li>Fusccinia luctus sapien nec vulputate.</li>
								<li>School Time</li>
								<li>MON - THU :  8:00 AM To 5:00 PM</li>
								<li>FRI - SAT : 8:00 AM To 2:00 PM</li>
							</ul>
						</div>
					</div>
					<!-- Footer Column -->

					<!-- Footer Column -->
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 r-full-width">
						<div class="footer-column">
							<h4>Location :</h4>
							<div id="location-map" class="location-map"></div>
						</div>
					</div>
					<!-- Footer Column -->
				</div>
			</div>
			<!-- Footer Columns -->

			<!-- Copy Rights -->
			<div class="copy-rights">
				<p>Copyright ©2016 IrshaadTechnologies</p>
			</div>
			<!-- Copy Rights -->

		</div>
	</footer>
	<!-- Footer -->