{% load staticfiles %}
<!-- Header -->
	<header id="header" class="main-header sticky-1">
		<div class="container">

			<!-- logo -->
			<div class="logo-holder">
                <strong><a href="#"><img src="{% static 'images/logo.png' %}" alt="logo"></a></strong>
            </div>
			<!-- logo -->

			<!-- Navigation -->
		    <nav class="navigation-holder">
		    	<a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		    		<i class="fa fa-bars"></i>
		    	</a>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      	<ul class="tc-navigation">
			      		<li class="active">
				          	<a href="/app/">Home</a>
				        </li>
			      		<li>
				          	<a href="/app/blog/">blog</a>
				        </li>
				        <!--<li>
				          	<a href="shop.html">shop</a>
				          	<ul>
				            	<li><a href="shop-categories.html">shop-categories</a></li>
				            	<li><a href="cart.html">cart</a></li>
				            	<li><a href="shop-detail.html">shop-detail</a></li>
				          	</ul>
				        </li>-->
			      		<li><a href="/app/contact/">contact</a></li>
			      	</ul>
			    </div>
		    </nav>
		    <!-- Navigation -->

			<!-- search Option -->
			<div class="cart-and-search">
				<ul>
					<li>
						<a href="#search"><i class="fa fa-search"></i></a>
                        <div id="search">
                            <button type="button" class="close">×</button>
                            <form>
                                <input type="search" value="" placeholder="type keyword(s) here" />
                                <button type="submit" class="pink-btn">Search</button>
                            </form>
                        </div>
					</li>
				</ul>
			</div>
			<!-- end Search Option -->

		</div>
	</header>
	<!-- Header -->